
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js" type="text/javascript"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.js" type="text/javascript"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.14.min.js" type="text/javascript"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-gl-0.12.14.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
<script type="text/javascript">function HoloViewsWidget(){
}

HoloViewsWidget.comms = {};
HoloViewsWidget.comm_state = {};

HoloViewsWidget.prototype.init_slider = function(init_val){
  if(this.load_json) {
    this.from_json()
  } else {
    this.update_cache();
  }
}

HoloViewsWidget.prototype.populate_cache = function(idx){
  this.cache[idx].html(this.frames[idx]);
  if (this.embed) {
    delete this.frames[idx];
  }
}

HoloViewsWidget.prototype.process_error = function(msg){

}

HoloViewsWidget.prototype.from_json = function() {
  var data_url = this.json_path + this.id + '.json';
  $.getJSON(data_url, $.proxy(function(json_data) {
    this.frames = json_data;
    this.update_cache();
    this.update(0);
  }, this));
}

HoloViewsWidget.prototype.dynamic_update = function(current){
  if (current === undefined) {
    return
  }
  if(this.dynamic) {
    current = JSON.stringify(current);
  }
  function callback(initialized, msg){
    /* This callback receives data from Python as a string
       in order to parse it correctly quotes are sliced off*/
    if (msg.content.ename != undefined) {
      this.process_error(msg);
    }
    if (msg.msg_type != "execute_result") {
      console.log("Warning: HoloViews callback returned unexpected data for key: (", current, ") with the following content:", msg.content)
    } else {
      if (msg.content.data['text/plain'].includes('Complete')) {
        if (this.queue.length > 0) {
          this.time = Date.now();
          this.dynamic_update(this.queue[this.queue.length-1]);
          this.queue = [];
        } else {
          this.wait = false;
        }
        return
      }
    }
  }
  this.current = current;
  if ((window.Jupyter !== undefined) && (Jupyter.notebook.kernel != null)) {
    var kernel = Jupyter.notebook.kernel;
    callbacks = {iopub: {output: $.proxy(callback, this, this.initialized)}};
    var cmd = "holoviews.plotting.widgets.NdWidget.widgets['" + this.id + "'].update(" + current + ")";
    kernel.execute("import holoviews;" + cmd, callbacks, {silent : false});
  }
}

HoloViewsWidget.prototype.update_cache = function(force){
  var frame_len = Object.keys(this.frames).length;
  for (var i=0; i<frame_len; i++) {
    if(!this.load_json || this.dynamic)  {
      frame = Object.keys(this.frames)[i];
    } else {
      frame = i;
    }
    if(!(frame in this.cache) || force) {
      if ((frame in this.cache) && force) { this.cache[frame].remove() }
      this.cache[frame] = $('<div />').appendTo("#"+"_anim_img"+this.id).hide();
      var cache_id = "_anim_img"+this.id+"_"+frame;
      this.cache[frame].attr("id", cache_id);
      this.populate_cache(frame);
    }
  }
}

HoloViewsWidget.prototype.update = function(current){
  if(current in this.cache) {
    $.each(this.cache, function(index, value) {
      value.hide();
    });
    this.cache[current].show();
    this.wait = false;
  }
}

HoloViewsWidget.prototype.init_comms = function() {
  if ((window.Jupyter !== undefined) && (Jupyter.notebook.kernel !== undefined)) {
    var widget = this;
    comm_manager = Jupyter.notebook.kernel.comm_manager;
    comm_manager.register_target(this.id, function (comm) {
      comm.on_msg(function (msg) { widget.process_msg(msg) });
    });
  }
}

HoloViewsWidget.prototype.process_msg = function(msg) {
}

function SelectionWidget(frames, id, slider_ids, keyMap, dim_vals, notFound, load_json, mode, cached, json_path, dynamic){
  this.frames = frames;
  this.id = id;
  this.slider_ids = slider_ids;
  this.keyMap = keyMap
  this.current_frame = 0;
  this.current_vals = dim_vals;
  this.load_json = load_json;
  this.mode = mode;
  this.notFound = notFound;
  this.cached = cached;
  this.dynamic = dynamic;
  this.cache = {};
  this.json_path = json_path;
  this.init_slider(this.current_vals[0]);
  this.queue = [];
  this.wait = false;
  if (!this.cached || this.dynamic) {
    this.init_comms()
  }
}

SelectionWidget.prototype = new HoloViewsWidget;


SelectionWidget.prototype.get_key = function(current_vals) {
  var key = "(";
  for (var i=0; i<this.slider_ids.length; i++)
  {
    val = this.current_vals[i];
    if (!(typeof val === 'string')) {
      if (val % 1 === 0) { val = val.toFixed(1); }
      else { val = val.toFixed(10); val = val.slice(0, val.length-1);}
    }
    key += "'" + val + "'";
    if(i != this.slider_ids.length-1) { key += ', ';}
    else if(this.slider_ids.length == 1) { key += ',';}
  }
  key += ")";
  return this.keyMap[key];
}

SelectionWidget.prototype.set_frame = function(dim_val, dim_idx){
  this.current_vals[dim_idx] = dim_val;
  var key = this.current_vals;
  if (!this.dynamic) {
    key = this.get_key(key)
  }
  if (this.dynamic || !this.cached) {
    if ((this.time !== undefined) && ((this.wait) && ((this.time + 10000) > Date.now()))) {
      this.queue.push(key);
      return
    }
    this.queue = [];
    this.time = Date.now();
    this.current_frame = key;
    this.wait = true;
    this.dynamic_update(key)
  } else if (key !== undefined) {
    this.update(key)
  }
}


/* Define the ScrubberWidget class */
function ScrubberWidget(frames, num_frames, id, interval, load_json, mode, cached, json_path, dynamic){
  this.slider_id = "_anim_slider" + id;
  this.loop_select_id = "_anim_loop_select" + id;
  this.id = id;
  this.interval = interval;
  this.current_frame = 0;
  this.direction = 0;
  this.dynamic = dynamic;
  this.timer = null;
  this.load_json = load_json;
  this.mode = mode;
  this.cached = cached;
  this.frames = frames;
  this.cache = {};
  this.length = num_frames;
  this.json_path = json_path;
  document.getElementById(this.slider_id).max = this.length - 1;
  this.init_slider(0);
  this.wait = false;
  this.queue = [];
  if (!this.cached || this.dynamic) {
    this.init_comms()
  }
}

ScrubberWidget.prototype = new HoloViewsWidget;

ScrubberWidget.prototype.set_frame = function(frame){
  this.current_frame = frame;
  widget = document.getElementById(this.slider_id);
  if (widget === null) {
    this.pause_animation();
    return
  }
  widget.value = this.current_frame;
  if(this.cached) {
    this.update(frame)
  } else {
    this.dynamic_update(frame)
  }
}


ScrubberWidget.prototype.get_loop_state = function(){
  var button_group = document[this.loop_select_id].state;
  for (var i = 0; i < button_group.length; i++) {
    var button = button_group[i];
    if (button.checked) {
      return button.value;
    }
  }
  return undefined;
}


ScrubberWidget.prototype.next_frame = function() {
  this.set_frame(Math.min(this.length - 1, this.current_frame + 1));
}

ScrubberWidget.prototype.previous_frame = function() {
  this.set_frame(Math.max(0, this.current_frame - 1));
}

ScrubberWidget.prototype.first_frame = function() {
  this.set_frame(0);
}

ScrubberWidget.prototype.last_frame = function() {
  this.set_frame(this.length - 1);
}

ScrubberWidget.prototype.slower = function() {
  this.interval /= 0.7;
  if(this.direction > 0){this.play_animation();}
  else if(this.direction < 0){this.reverse_animation();}
}

ScrubberWidget.prototype.faster = function() {
  this.interval *= 0.7;
  if(this.direction > 0){this.play_animation();}
  else if(this.direction < 0){this.reverse_animation();}
}

ScrubberWidget.prototype.anim_step_forward = function() {
  if(this.current_frame < this.length - 1){
    this.next_frame();
  }else{
    var loop_state = this.get_loop_state();
    if(loop_state == "loop"){
      this.first_frame();
    }else if(loop_state == "reflect"){
      this.last_frame();
      this.reverse_animation();
    }else{
      this.pause_animation();
      this.last_frame();
    }
  }
}

ScrubberWidget.prototype.anim_step_reverse = function() {
  if(this.current_frame > 0){
    this.previous_frame();
  } else {
    var loop_state = this.get_loop_state();
    if(loop_state == "loop"){
      this.last_frame();
    }else if(loop_state == "reflect"){
      this.first_frame();
      this.play_animation();
    }else{
      this.pause_animation();
      this.first_frame();
    }
  }
}

ScrubberWidget.prototype.pause_animation = function() {
  this.direction = 0;
  if (this.timer){
    clearInterval(this.timer);
    this.timer = null;
  }
}

ScrubberWidget.prototype.play_animation = function() {
  this.pause_animation();
  this.direction = 1;
  var t = this;
  if (!this.timer) this.timer = setInterval(function(){t.anim_step_forward();}, this.interval);
}

ScrubberWidget.prototype.reverse_animation = function() {
  this.pause_animation();
  this.direction = -1;
  var t = this;
  if (!this.timer) this.timer = setInterval(function(){t.anim_step_reverse();}, this.interval);
}

function extend(destination, source) {
  for (var k in source) {
    if (source.hasOwnProperty(k)) {
      destination[k] = source[k];
    }
  }
  return destination;
}

function update_widget(widget, values) {
  if (widget.hasClass("ui-slider")) {
    widget.slider('option', {
      min: 0,
      max: values.length-1,
      dim_vals: values,
      value: 0,
      dim_labels: values
	})
    widget.slider('option', 'slide').call(widget, event, {value: 0})
  } else {
    widget.empty();
    for (var i=0; i<values.length; i++){
      widget.append($("<option>", {
        value: i,
        text: values[i]
      }))
    };
    widget.data('values', values);
    widget.data('value', 0);
    widget.trigger("change");
  };
}

// Define Bokeh specific subclasses
function BokehSelectionWidget() {
	SelectionWidget.apply(this, arguments);
}

function BokehScrubberWidget() {
	ScrubberWidget.apply(this, arguments);
}

// Let them inherit from the baseclasses
BokehSelectionWidget.prototype = Object.create(SelectionWidget.prototype);
BokehScrubberWidget.prototype = Object.create(ScrubberWidget.prototype);

// Define methods to override on widgets
var BokehMethods = {
	update_cache : function(){
		$.each(this.frames, $.proxy(function(index, frame) {
			this.frames[index] = JSON.parse(frame);
		}, this));
	},
	update : function(current){
		if (current === undefined) {
			var data = undefined;
		} else {
			var data = this.frames[current];
		}
		if (data !== undefined) {
			var doc = Bokeh.index[data.root].model.document;
			doc.apply_json_patch(data.content);
		}
	},
	init_comms : function() {
	}
}

// Extend Bokeh widgets with backend specific methods
extend(BokehSelectionWidget.prototype, BokehMethods);
extend(BokehScrubberWidget.prototype, BokehMethods);
</script>

<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css">
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css">
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.14.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<style>div.hololayout {
    display: flex;
    align-items: center;
    margin: 0;
}

div.holoframe {
	width: 75%;
}

div.holowell {
    display: flex;
    align-items: center;
    margin: 0;
}

form.holoform {
    background-color: #fafafa;
    border-radius: 5px;
    overflow: hidden;
	padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

div.holowidgets {
    padding-right: 0;
	width: 25%;
}

div.holoslider {
    min-height: 0 !important;
    height: 0.8em;
    width: 60%;
}

div.holoformgroup {
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}

div.hologroup {
    padding-left: 0;
    padding-right: 0.8em;
    width: 50%;
}

.holoselect {
    width: 92%;
    margin-left: 0;
    margin-right: 0;
}

.holotext {
    width: 100%;
    padding-left:  0.5em;
    padding-right: 0;
}

.holowidgets .ui-resizable-se {
	visibility: hidden
}

.holoframe > .ui-resizable-se {
	visibility: hidden
}

.holowidgets .ui-resizable-s {
	visibility: hidden
}

div.bk-hbox {
    display: flex;
    justify-content: center;
}

div.bk-hbox div.bk-plot {
    padding: 8px;
}

div.bk-hbox div.bk-data-table {
    padding: 20px;
}
</style><div class="hololayout row row-fluid">
  <div class="holoframe" id="display_area94e3e08ff0b945f5a1170b2ee60985da">
    <div id="_anim_img94e3e08ff0b945f5a1170b2ee60985da">
      
      <div style='display: table; margin: 0 auto;'>

<div class="bk-root">
    <div class="bk-plotdiv" id="b4c8959e-f2b3-4d2b-9e04-358cd741d8e6"></div>
</div>
<script type="text/javascript">
  (function(root) {
  function embed_document(root) {
    
  var docs_json = {"f5c87494-ab8b-4f89-a033-abf36d688fdb":{"roots":{"references":[{"attributes":{"line_color":"#30a2da","line_width":2,"x":{"field":"x"},"y":{"field":"y"}},"id":"6d0cb0e2-25a5-48f6-b290-e366427ea81f","type":"Line"},{"attributes":{"data_source":{"id":"f2662d6e-6d2d-46d8-b69a-6632f7ad5deb","type":"ColumnDataSource"},"glyph":{"id":"6d0cb0e2-25a5-48f6-b290-e366427ea81f","type":"Line"},"hover_glyph":null,"muted_glyph":{"id":"bb651c20-f2d4-42bf-a2a9-dd068233c1b1","type":"Line"},"nonselection_glyph":{"id":"752592d3-63f1-411d-8087-57e80ff60049","type":"Line"},"selection_glyph":null,"view":{"id":"9bb75ec5-778a-4581-9d13-cb8dbd9fee23","type":"CDSView"}},"id":"251a370d-e689-4dff-b4e6-4fe8cadbfd04","type":"GlyphRenderer"},{"attributes":{"line_alpha":0.1,"line_color":"#30a2da","line_width":2,"x":{"field":"x"},"y":{"field":"y"}},"id":"752592d3-63f1-411d-8087-57e80ff60049","type":"Line"},{"attributes":{"active_drag":"auto","active_inspect":"auto","active_scroll":"auto","active_tap":"auto","tools":[{"id":"56555388-f5b9-4ffa-b514-0a1a2508541f","type":"SaveTool"},{"id":"6afb4df6-0b7a-40f8-a52f-09e3cc40e7a2","type":"PanTool"},{"id":"c1b28ee2-7516-4343-9e1c-6674f6e9393c","type":"WheelZoomTool"},{"id":"aa15d08a-f510-4414-a129-a3a2de8e3a45","type":"BoxZoomTool"},{"id":"9689b6e5-cb62-4dad-8254-aec0dd59b588","type":"ResetTool"}]},"id":"c37a928a-a338-4efe-999c-910d8af7573e","type":"Toolbar"},{"attributes":{},"id":"7511a5b0-940a-4c12-88d0-5d44c97676c0","type":"BasicTickFormatter"},{"attributes":{"overlay":{"id":"db3f31b4-a149-40d5-905b-b5afc7d45a77","type":"BoxAnnotation"}},"id":"aa15d08a-f510-4414-a129-a3a2de8e3a45","type":"BoxZoomTool"},{"attributes":{"bottom_units":"screen","fill_alpha":{"value":0.5},"fill_color":{"value":"lightgrey"},"left_units":"screen","level":"overlay","line_alpha":{"value":1.0},"line_color":{"value":"black"},"line_dash":[4,4],"line_width":{"value":2},"plot":null,"render_mode":"css","right_units":"screen","top_units":"screen"},"id":"db3f31b4-a149-40d5-905b-b5afc7d45a77","type":"BoxAnnotation"},{"attributes":{"plot":null,"text":"f: 1, p: 0","text_color":{"value":"black"},"text_font_size":{"value":"12pt"}},"id":"4f778550-59a1-44e8-8e8f-7ece0797b127","type":"Title"},{"attributes":{},"id":"c1b28ee2-7516-4343-9e1c-6674f6e9393c","type":"WheelZoomTool"},{"attributes":{"axis_label":"x","bounds":"auto","formatter":{"id":"7511a5b0-940a-4c12-88d0-5d44c97676c0","type":"BasicTickFormatter"},"major_label_orientation":"horizontal","plot":{"id":"84322420-c4e3-44d0-b6d0-c1cfaed7ea51","subtype":"Figure","type":"Plot"},"ticker":{"id":"87c47bc9-73f5-4c38-b49f-25fed54d9bb8","type":"BasicTicker"}},"id":"5a017b9c-ec82-48fd-9686-0c96cc127f09","type":"LinearAxis"},{"attributes":{"line_alpha":0.2,"line_color":"#30a2da","line_width":2,"x":{"field":"x"},"y":{"field":"y"}},"id":"bb651c20-f2d4-42bf-a2a9-dd068233c1b1","type":"Line"},{"attributes":{"source":{"id":"f2662d6e-6d2d-46d8-b69a-6632f7ad5deb","type":"ColumnDataSource"}},"id":"9bb75ec5-778a-4581-9d13-cb8dbd9fee23","type":"CDSView"},{"attributes":{"grid_line_color":{"value":null},"plot":{"id":"84322420-c4e3-44d0-b6d0-c1cfaed7ea51","subtype":"Figure","type":"Plot"},"ticker":{"id":"87c47bc9-73f5-4c38-b49f-25fed54d9bb8","type":"BasicTicker"}},"id":"4d0ad837-b015-4321-842a-931ba421dd1f","type":"Grid"},{"attributes":{"axis_label":"y","bounds":"auto","formatter":{"id":"090cea00-6244-4029-80d2-0ceb093d317d","type":"BasicTickFormatter"},"major_label_orientation":"horizontal","plot":{"id":"84322420-c4e3-44d0-b6d0-c1cfaed7ea51","subtype":"Figure","type":"Plot"},"ticker":{"id":"e968d4db-f2d6-4a65-a6a3-2ff40ac15477","type":"BasicTicker"}},"id":"7e228313-008a-4a1c-a7bf-91a9109c4161","type":"LinearAxis"},{"attributes":{},"id":"090cea00-6244-4029-80d2-0ceb093d317d","type":"BasicTickFormatter"},{"attributes":{},"id":"56555388-f5b9-4ffa-b514-0a1a2508541f","type":"SaveTool"},{"attributes":{},"id":"9689b6e5-cb62-4dad-8254-aec0dd59b588","type":"ResetTool"},{"attributes":{"callback":null,"column_names":["y","x"],"data":{"x":{"__ndarray__":"AAAAAAAAAAAAAAAAAADwPwAAAAAAAABAAAAAAAAACEAAAAAAAAAQQAAAAAAAABRAAAAAAAAAGEAAAAAAAAAcQAAAAAAAACBAAAAAAAAAIkAAAAAAAAAkQAAAAAAAACZAAAAAAAAAKEAAAAAAAAAqQAAAAAAAACxAAAAAAAAALkAAAAAAAAAwQAAAAAAAADFAAAAAAAAAMkAAAAAAAAAzQAAAAAAAADRAAAAAAAAANUAAAAAAAAA2QAAAAAAAADdAAAAAAAAAOEAAAAAAAAA5QAAAAAAAADpAAAAAAAAAO0AAAAAAAAA8QAAAAAAAAD1AAAAAAAAAPkAAAAAAAAA/QAAAAAAAAEBAAAAAAACAQEAAAAAAAABBQAAAAAAAgEFAAAAAAAAAQkAAAAAAAIBCQAAAAAAAAENAAAAAAACAQ0AAAAAAAABEQAAAAAAAgERAAAAAAAAARUAAAAAAAIBFQAAAAAAAAEZAAAAAAACARkAAAAAAAABHQAAAAAAAgEdAAAAAAAAASEAAAAAAAIBIQA==","dtype":"float64","shape":[50]},"y":{"__ndarray__":"AAAAAAAAAACPjathR17AP+7Ll2/gO9A/3WJO5l8E2D+ihluX6mffP6NL+7G4I+M/w6xnDQhD5j9L3gV1wwTpP/qbEFtUXes/NeHcQt5C7T+Um5A0aK3uP8YaX0D+lu8/yk9shMr77z8goCdMJdrvP2npWAWcMu8/zQmh7e4H7j//5zCCBV/sP42TUuLZPuo/MmFse1uw5z+478V5Sb7kPyrU8JsFdeE/w6txTcDE2z/AL8eouyrUP+NvT83id8g/3fV26+dmsD+s9Xbr52awv8tvT83id8i/tC/HqLsq1L+/q3FNwMTbvyXU8JsFdeG/s+/FeUm+5L8uYWx7W7Dnv4qTUuLZPuq//ucwggVf7L/LCaHt7gfuv2npWAWcMu+/H6AnTCXa77/KT2yEyvvvv8gaX0D+lu+/lpuQNGit7r854dxC3kLtv/2bEFtUXeu/TN4FdcME6b/IrGcNCEPmv6ZL+7G4I+O/sIZbl+pn37/mYk7mXwTYvwDMl2/gO9C/po2rYUdewL8HXBQzJqaxvA==","dtype":"float64","shape":[50]}}},"id":"f2662d6e-6d2d-46d8-b69a-6632f7ad5deb","type":"ColumnDataSource"},{"attributes":{},"id":"87c47bc9-73f5-4c38-b49f-25fed54d9bb8","type":"BasicTicker"},{"attributes":{"callback":null,"end":0.9994862162006879,"start":-0.9994862162006879},"id":"4bd744fd-abc4-4c31-ad91-f8e85bc98d6e","type":"Range1d"},{"attributes":{},"id":"e968d4db-f2d6-4a65-a6a3-2ff40ac15477","type":"BasicTicker"},{"attributes":{"below":[{"id":"5a017b9c-ec82-48fd-9686-0c96cc127f09","type":"LinearAxis"}],"left":[{"id":"7e228313-008a-4a1c-a7bf-91a9109c4161","type":"LinearAxis"}],"min_border_bottom":10,"min_border_left":10,"min_border_right":10,"min_border_top":10,"plot_height":300,"plot_width":300,"renderers":[{"id":"5a017b9c-ec82-48fd-9686-0c96cc127f09","type":"LinearAxis"},{"id":"4d0ad837-b015-4321-842a-931ba421dd1f","type":"Grid"},{"id":"7e228313-008a-4a1c-a7bf-91a9109c4161","type":"LinearAxis"},{"id":"402602bc-2946-4703-859f-9582356c6ff4","type":"Grid"},{"id":"db3f31b4-a149-40d5-905b-b5afc7d45a77","type":"BoxAnnotation"},{"id":"251a370d-e689-4dff-b4e6-4fe8cadbfd04","type":"GlyphRenderer"}],"title":{"id":"4f778550-59a1-44e8-8e8f-7ece0797b127","type":"Title"},"toolbar":{"id":"c37a928a-a338-4efe-999c-910d8af7573e","type":"Toolbar"},"x_range":{"id":"bd7fb34d-15a5-4965-b8e2-82157a5845ca","type":"Range1d"},"x_scale":{"id":"505e862a-a835-49af-bb41-8b6630b3af16","type":"LinearScale"},"y_range":{"id":"4bd744fd-abc4-4c31-ad91-f8e85bc98d6e","type":"Range1d"},"y_scale":{"id":"50d81874-c0f9-41a4-82c1-809090afed43","type":"LinearScale"}},"id":"84322420-c4e3-44d0-b6d0-c1cfaed7ea51","subtype":"Figure","type":"Plot"},{"attributes":{},"id":"6afb4df6-0b7a-40f8-a52f-09e3cc40e7a2","type":"PanTool"},{"attributes":{"dimension":1,"grid_line_color":{"value":null},"plot":{"id":"84322420-c4e3-44d0-b6d0-c1cfaed7ea51","subtype":"Figure","type":"Plot"},"ticker":{"id":"e968d4db-f2d6-4a65-a6a3-2ff40ac15477","type":"BasicTicker"}},"id":"402602bc-2946-4703-859f-9582356c6ff4","type":"Grid"},{"attributes":{},"id":"505e862a-a835-49af-bb41-8b6630b3af16","type":"LinearScale"},{"attributes":{},"id":"50d81874-c0f9-41a4-82c1-809090afed43","type":"LinearScale"},{"attributes":{"callback":null,"end":49.0},"id":"bd7fb34d-15a5-4965-b8e2-82157a5845ca","type":"Range1d"}],"root_ids":["84322420-c4e3-44d0-b6d0-c1cfaed7ea51"]},"title":"Bokeh Application","version":"0.12.14"}};
  var render_items = [{"docid":"f5c87494-ab8b-4f89-a033-abf36d688fdb","elementid":"b4c8959e-f2b3-4d2b-9e04-358cd741d8e6","modelid":"84322420-c4e3-44d0-b6d0-c1cfaed7ea51","notebook_comms_target":"94e3e08ff0b945f5a1170b2ee60985da"}];
  root.Bokeh.embed.embed_items_notebook(docs_json, render_items);

  }
  if (root.Bokeh !== undefined) {
    embed_document(root);
  } else {
    var attempts = 0;
    var timer = setInterval(function(root) {
      if (root.Bokeh !== undefined) {
        embed_document(root);
        clearInterval(timer);
      }
      attempts++;
      if (attempts > 100) {
        console.log("Bokeh: ERROR: Unable to run BokehJS code because BokehJS library is missing")
        clearInterval(timer);
      }
    }, 10, root)
  }
})(window);
</script>
</div>
      
    </div>
  </div>
  <div class="holowidgets" id="widget_area94e3e08ff0b945f5a1170b2ee60985da">
    <form class="holoform well" id="form94e3e08ff0b945f5a1170b2ee60985da">
      
      
      <div class="form-group control-group holoformgroup" style=''>
        <label for="textInput94e3e08ff0b945f5a1170b2ee60985da_f">
          <strong>f:</strong>
        </label>
        <div class="holowell row row-fluid">
          <div class="hologroup">
            <input type="text" class="holotext form-control input-small"
                   id="textInput94e3e08ff0b945f5a1170b2ee60985da_f" value="" readonly>
          </div>
          <div class="holoslider"
               id="_anim_widget94e3e08ff0b945f5a1170b2ee60985da_f"></div>
        </div>
      </div>
	  <script>
	    function init_slider() {
        // Slider JS Block START
        function loadcssfile(filename){
            var fileref=document.createElement("link")
            fileref.setAttribute("rel", "stylesheet")
            fileref.setAttribute("type", "text/css")
            fileref.setAttribute("href", filename)
            document.getElementsByTagName("head")[0].appendChild(fileref)
        }
        loadcssfile("https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css");
        /* Check if jQuery and jQueryUI have been loaded
           otherwise load with require.js */
        var jQuery = window.jQuery,
            // check for old versions of jQuery
            oldjQuery = jQuery && !!jQuery.fn.jquery.match(/^1\.[0-4](\.|$)/),
            jquery_path = '',
            paths = {},
            noConflict;
        var jQueryUI = jQuery.ui;
        // check for jQuery
        if (!jQuery || oldjQuery) {
            // load if it's not available or doesn't meet min standards
            paths.jQuery = jQuery;
            noConflict = !!oldjQuery;
        } else {
            // register the current jQuery
            define('jquery', [], function() { return jQuery; });
        }
        if (!jQueryUI) {
            paths.jQueryUI = "https://code.jquery.com/ui/1.10.4/jquery-ui.min"
        } else {
            define('jQueryUI', [], function() { return jQuery.ui; });
        }
        paths.underscore = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min";
        var jquery_require = {
            paths: paths,
            shim: {
                "jQueryUI": {
                    exports:"$",
                    deps: ['jquery']
                },
                "underscore": {
                    exports: '_'
                }
            }
        }
        require.config(jquery_require);
        require(["jQueryUI", "underscore"], function(jUI, _){
            if (noConflict) $.noConflict(true);
            var vals = ['1.0', '5.0'];
            var next_vals = {};
            if (true && vals.constructor === Array) {
                var min = parseFloat(vals[0]);
                var max = parseFloat(vals[vals.length-1]);
                var step = 1;
                var labels = [min];
            } else {
                var min = 0;
                if (true) {
                    var max = Object.keys(vals).length - 1;
                } else {
                    var max = vals.length - 1;
                }
                var step = 1;
				var labels = [];
            }
			function adjustFontSize(text) {
				var width_ratio = (text.parent().width()/8)/text.val().length;
				var size = Math.min(0.9, Math.max(0.6, width_ratio))+'em';
				text.css('font-size', size);
			}
            var slider = $('#_anim_widget94e3e08ff0b945f5a1170b2ee60985da_f');
			slider.slider({
                animate: "fast",
                min: min,
                max: max,
                step: step,
                value: min,
                dim_vals: vals,
                dim_labels: labels,
                next_vals: next_vals,
                slide: function(event, ui) {
                    var vals = slider.slider("option", "dim_vals");
                    var next_vals = slider.slider("option", "next_vals");
                    var labels = slider.slider("option", "dim_labels");
                    if (true) {
					    var dim_val = ui.value;
					    if (vals.constructor === Array) {
						   var label = ui.value;
						} else {
						   var label = labels[ui.value];
						}
                    } else {
                        var dim_val = vals[ui.value];
						var label = labels[ui.value];
                    }
					var text = $('#textInput94e3e08ff0b945f5a1170b2ee60985da_f');
					text.val(label);
					adjustFontSize(text);
                    anim94e3e08ff0b945f5a1170b2ee60985da.set_frame(dim_val, 0);
                    if (Object.keys(next_vals).length > 0) {
                        var new_vals = next_vals[dim_val];
                        var next_widget = $('#_anim_widget94e3e08ff0b945f5a1170b2ee60985da_');
                        update_widget(next_widget, new_vals);
                    }
                }
            });
            slider.keypress(function(event) {
                if (event.which == 80 || event.which == 112) {
                    var start = slider.slider("option", "value");
                    var stop =  slider.slider("option", "max");
                    for (var i=start; i<=stop; i++) {
                        var delay = i*50;
                        $.proxy(function doSetTimeout(i) { setTimeout($.proxy(function() {
                            var val = {value:i};
                            slider.slider('value',i);
                            slider.slider("option", "slide")(null, val);
                        }, slider), delay);}, slider)(i);
                    }
                }
                if (event.which == 82 || event.which == 114) {
                    var start = slider.slider("option", "value");
                    var stop =  slider.slider("option", "min");
                    var count = 0;
                    for (var i=start; i>=stop; i--) {
                        var delay = count*50;
                        count = count + 1;
                        $.proxy(function doSetTimeout(i) { setTimeout($.proxy(function() {
                            var val = {value:i};
                            slider.slider('value',i);
                            slider.slider("option", "slide")(null, val);
                        }, slider), delay);}, slider)(i);
                    }
                }
            });
			var textInput = $('#textInput94e3e08ff0b945f5a1170b2ee60985da_f')
			textInput.val(labels[0]);
			adjustFontSize(textInput);
        });
		}
        $(document).ready(init_slider)
        // Slider JS Block END
        </script>
        
        
      
      <div class="form-group control-group holoformgroup" style=''>
        <label for="textInput94e3e08ff0b945f5a1170b2ee60985da_p">
          <strong>p:</strong>
        </label>
        <div class="holowell row row-fluid">
          <div class="hologroup">
            <input type="text" class="holotext form-control input-small"
                   id="textInput94e3e08ff0b945f5a1170b2ee60985da_p" value="" readonly>
          </div>
          <div class="holoslider"
               id="_anim_widget94e3e08ff0b945f5a1170b2ee60985da_p"></div>
        </div>
      </div>
	  <script>
	    function init_slider() {
        // Slider JS Block START
        function loadcssfile(filename){
            var fileref=document.createElement("link")
            fileref.setAttribute("rel", "stylesheet")
            fileref.setAttribute("type", "text/css")
            fileref.setAttribute("href", filename)
            document.getElementsByTagName("head")[0].appendChild(fileref)
        }
        loadcssfile("https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css");
        /* Check if jQuery and jQueryUI have been loaded
           otherwise load with require.js */
        var jQuery = window.jQuery,
            // check for old versions of jQuery
            oldjQuery = jQuery && !!jQuery.fn.jquery.match(/^1\.[0-4](\.|$)/),
            jquery_path = '',
            paths = {},
            noConflict;
        var jQueryUI = jQuery.ui;
        // check for jQuery
        if (!jQuery || oldjQuery) {
            // load if it's not available or doesn't meet min standards
            paths.jQuery = jQuery;
            noConflict = !!oldjQuery;
        } else {
            // register the current jQuery
            define('jquery', [], function() { return jQuery; });
        }
        if (!jQueryUI) {
            paths.jQueryUI = "https://code.jquery.com/ui/1.10.4/jquery-ui.min"
        } else {
            define('jQueryUI', [], function() { return jQuery.ui; });
        }
        paths.underscore = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min";
        var jquery_require = {
            paths: paths,
            shim: {
                "jQueryUI": {
                    exports:"$",
                    deps: ['jquery']
                },
                "underscore": {
                    exports: '_'
                }
            }
        }
        require.config(jquery_require);
        require(["jQueryUI", "underscore"], function(jUI, _){
            if (noConflict) $.noConflict(true);
            var vals = ['0.0', '6.283185307'];
            var next_vals = {};
            if (true && vals.constructor === Array) {
                var min = parseFloat(vals[0]);
                var max = parseFloat(vals[vals.length-1]);
                var step = 0.1;
                var labels = [min];
            } else {
                var min = 0;
                if (true) {
                    var max = Object.keys(vals).length - 1;
                } else {
                    var max = vals.length - 1;
                }
                var step = 1;
				var labels = [];
            }
			function adjustFontSize(text) {
				var width_ratio = (text.parent().width()/8)/text.val().length;
				var size = Math.min(0.9, Math.max(0.6, width_ratio))+'em';
				text.css('font-size', size);
			}
            var slider = $('#_anim_widget94e3e08ff0b945f5a1170b2ee60985da_p');
			slider.slider({
                animate: "fast",
                min: min,
                max: max,
                step: step,
                value: min,
                dim_vals: vals,
                dim_labels: labels,
                next_vals: next_vals,
                slide: function(event, ui) {
                    var vals = slider.slider("option", "dim_vals");
                    var next_vals = slider.slider("option", "next_vals");
                    var labels = slider.slider("option", "dim_labels");
                    if (true) {
					    var dim_val = ui.value;
					    if (vals.constructor === Array) {
						   var label = ui.value;
						} else {
						   var label = labels[ui.value];
						}
                    } else {
                        var dim_val = vals[ui.value];
						var label = labels[ui.value];
                    }
					var text = $('#textInput94e3e08ff0b945f5a1170b2ee60985da_p');
					text.val(label);
					adjustFontSize(text);
                    anim94e3e08ff0b945f5a1170b2ee60985da.set_frame(dim_val, 1);
                    if (Object.keys(next_vals).length > 0) {
                        var new_vals = next_vals[dim_val];
                        var next_widget = $('#_anim_widget94e3e08ff0b945f5a1170b2ee60985da_');
                        update_widget(next_widget, new_vals);
                    }
                }
            });
            slider.keypress(function(event) {
                if (event.which == 80 || event.which == 112) {
                    var start = slider.slider("option", "value");
                    var stop =  slider.slider("option", "max");
                    for (var i=start; i<=stop; i++) {
                        var delay = i*50;
                        $.proxy(function doSetTimeout(i) { setTimeout($.proxy(function() {
                            var val = {value:i};
                            slider.slider('value',i);
                            slider.slider("option", "slide")(null, val);
                        }, slider), delay);}, slider)(i);
                    }
                }
                if (event.which == 82 || event.which == 114) {
                    var start = slider.slider("option", "value");
                    var stop =  slider.slider("option", "min");
                    var count = 0;
                    for (var i=start; i>=stop; i--) {
                        var delay = count*50;
                        count = count + 1;
                        $.proxy(function doSetTimeout(i) { setTimeout($.proxy(function() {
                            var val = {value:i};
                            slider.slider('value',i);
                            slider.slider("option", "slide")(null, val);
                        }, slider), delay);}, slider)(i);
                    }
                }
            });
			var textInput = $('#textInput94e3e08ff0b945f5a1170b2ee60985da_p')
			textInput.val(labels[0]);
			adjustFontSize(textInput);
        });
		}
        $(document).ready(init_slider)
        // Slider JS Block END
        </script>
        
        
        </form>
    </div>
</div>


<script language="javascript">
/* Instantiate the BokehSelectionWidget class. */
/* The IDs given should match those used in the template above. */
(function() {
	if (jQuery.ui !== undefined) {
		$("#display_area94e3e08ff0b945f5a1170b2ee60985da").resizable({
			resize: function(event, ui) {
				$("#widget_area94e3e08ff0b945f5a1170b2ee60985da").width($(this).parent().width()-ui.size.width);
			}
		});
		$("#widget_area94e3e08ff0b945f5a1170b2ee60985da").resizable();
	}
    var widget_ids = new Array(2);
    
    widget_ids[0] = "_anim_widget94e3e08ff0b945f5a1170b2ee60985da_f";
    
    widget_ids[1] = "_anim_widget94e3e08ff0b945f5a1170b2ee60985da_p";
    
    var frame_data = {};
    var dim_vals = [1.0, 0.0];
    var keyMap = {};
    var notFound = "<h2 style='vertical-align: middle>No frame at selected dimension value.<h2>";
    function create_widget() {
        setTimeout(function() {
            anim94e3e08ff0b945f5a1170b2ee60985da = new BokehSelectionWidget(frame_data, "94e3e08ff0b945f5a1170b2ee60985da", widget_ids,
				keyMap, dim_vals, notFound, false, "default",
				false, "./json_figures/", true);
        }, 0);
    }
    
    create_widget();
    
})();
</script>