{% extends "base.html" %}

{% block title %}
	<title>
		403 page
	</title>
{% endblock title %}


{% block container %}
<center>
		<br>
		<h1 style="color:green; font-weight: bold; font-family: tahoma">
			403 - Permission denied
		</h1>
</center>
{% endblock container %}
