{% extends "base.html" %}

{% block title %}
	<title>
		404 page
	</title>
{% endblock %}

{% block css %}
	<style type="text/css">
		body {
			backgound-image: url('{% static "images/404.jpg" %}');
		}  
	</style>
{% endblock %}

{% block container %}
	<center>
			<br>
			<h1 style="color:green; font-weight: bold; font-family: tahoma">
				404 - Page not found
			</h1>
	</center>
{% endblock %}



