{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>CALC</title>
  <meta charset="utf-8">
  <link rel="icon" href="{% static 'images/favicon_r.ico' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!--CSS-->
  <style>
      input#exp {
         /*border: 1px solid blue;*/
         font-family: tahoma;
         height: 50px;
         padding-top:1px;
         padding-bottom: 1px;
         padding-left: 10px;
         padding-right: 10px;
         font-size: 25px;
      }
      input#exp:focus {
         /*border: 1px solid black;*/
      }
  </style>

  <!--JS-->
  <script>
      var exp;
      var op = ''

      function sendNum(pressed_item) {
         console.log(pressed_item);
         exp = document.getElementById("exp").value;
         console.log(exp);
         console.log(typeof exp)
         if(exp == '') {
            console.log("Math expression is blank");
            exp = pressed_item
         } else if (exp == null){
            console.log("Math expression is null")
         } else {
            exp += pressed_item
         }

         document.getElementById("exp").value = exp;
         // if op !== "":
         //    exp += parseInt(exp) + parseInt(pressed_item)
        //SWITCH EXPRESSION
         switch(pressed_item) {
            case '+':
                    console.log("+ opeartion");
                    if (exp !== "")
                       op = "+"
                    break
            case '-':
                    console.log("- opeartion")
                    break
            case '*':
                    console.log("* opeartion")
                    break
            case '/':
                    console.log("/ opeartion")
                    break
            case '%':
                    console.log("% opeartion")
                    break
            case '(':
                    console.log("Bracket started with (")
                    break
            case ")":
                    console.log("Bracket closed with )")
                    break
            case "=":
                    console.log("You want RESULT now (=)")
                    break
            default:
                  console.log("You have pressed Number (default)")
         }
      }

      // clear() function clears the expression
      function clearExp() {
          console.log('Expression cleared')
          document.getElementById('exp').value='';
          exp = ''
      }

      // backspace() function removes one character from last of the expression
      function backspace() {
          console.log('Expression cleared')
          var expElem = document.getElementById('exp');
          var expText = expElem.value;
          expElem.value = expText.slice(0, expText.length - 1)
      }
  </script>
</head>
<body>

<div class="container">
  <!--ROW1 STARTS-->
  <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
      <center><h2>CALCULATOR - Quick Calc</h2></center>
      
       <form>
        <div class="form-group">
          <input type="email" class="form-control" id="exp" placeholder="12+4/2-7%3*4" name="exp" disabled/>
        </div>

        <!--<button type="submit" class="btn btn-default">Submit</button>-->
      </form>
      <hr>
      
      <table class="table">
       <!-- <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>-->
        <tbody>
          <tr>
            <td><button type="button" class="btn btn-success btn-block" onclick="sendNum(1)">1</button></td>
            <td><button type="button" class="btn btn-info btn-block" onclick="sendNum(2)">2</button></td>
            <td><button type="button" class="btn btn-success btn-block" onclick="sendNum(3)">3</button></td>
          </tr>
          <tr>
            <td><button type="button" class="btn btn-info btn-block" onclick="sendNum(4)">4</button></td>
            <td><button type="button" class="btn btn-success btn-block" onclick="sendNum(5)">5</button></td>
            <td><button type="button" class="btn btn-info btn-block" onclick="sendNum(6)">6</button></td>
          </tr>
          <tr>
            <td><button type="button" class="btn btn-success btn-block" onclick="sendNum(7)">7</button></td>
            <td><button type="button" class="btn btn-info btn-block" onclick="sendNum(8)">8</button></td>
            <td><button type="button" class="btn btn-success btn-block" onclick="sendNum(9)">9</button></td>
          </tr>
          <tr>
            <td><button type="button" class="btn btn-primary btn-block" onclick="sendNum('*')">*</button>
            </td>
            <td><button type="button" class="btn btn-danger btn-block" onclick="sendNum(0)">0</button></td>
            <td><button type="button" class="btn btn-primary btn-block" onclick="sendNum('+')">+</button></td>
          </tr>
          <tr>
            <td><button type="button" class="btn btn-primary btn-block" onclick="sendNum('/')">/</button>
            </td>
            <td><button type="button" class="btn btn-primary btn-block" onclick="sendNum('%')">%</button></td>
            <td><button type="button" class="btn btn-primary btn-block" onclick="sendNum('-')">-</button></td>
          </tr>
          <tr>
            <td><button type="button" class="btn btn-danger btn-block" onclick="sendNum('(')">(</button>

            </td>
            <td><button type="button" class="btn btn-danger btn-block" onclick="sendNum(')')">)</button></td>
            <td><button type="button" class="btn btn-danger btn-block" onclick="sendNum('=')">=</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--ROW2 STARTS-->
  <div class="row">
    <div class="col-lg-3 col-lg-offset-3">
      <button type="button" class="btn btn-warning btn-block" onclick="clearExp()" style="background-color: #A91846; font-weight: bold; font-family: tahoma;">CLEAR</button>
      <br>
    </div>
    <div class="col-lg-3">
      <button type="button" class="btn btn-warning btn-block" onclick="backspace()" style="background-color: #A91846; font-weight: bold; font-family: tahoma;">BACKSPACE</button>
      <br>
    </div>
  </div>
</div>

</body>
</html>
