{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
<title>
		HOME PAGE
</title>
{% endblock title %}


{% block container %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12&appId=2128724680747216&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container">
	<div class="row">
		<!-- <div class="col-lg-8 col-md-8 col-sm-8">
			
		</div> -->

		<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
			<br>
			<center>
					<br>
					<br>
					<h1 style="color:green; font-weight: bold; font-family: tahoma">
						Let's learn using REST APIs
					</h1>
					<!-- <br>
					<br>
					<a href="/oauth2Callback" class="btn btn-success" role="button" style="width:300px">AUTH RESPONSE</a> -->
					<br>
					<a class="g-signin2" data-onsuccess="onSignIn" class="btn btn-success" role="button" style="width:300px; background-color:green;height:50px; box-shadow: 4px 5px green; font-weight: bold; font-family: tahoma" data-height="300"></a><br>

					

					<div class="fb-login-button" data-width="300" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>
				<!-- 	<a onclick="signOut();" class="btn btn-danger" role="button" style="width:300px;font-weight: bold; color: white">Sign out</a> -->
					<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
			</center>
		</div>
	</div>
</div>

{% endblock container %}

{% block css %}
<style>
div.abcRioButton.abcRioButtonLightBlue {
	border: 1px solid #17a2b8;
	color: #eaeff5;
	font-family: sans-serif; /* Not working */
	font-weight: bold; /* Not working */
	background-color: #161cdef5;
}
</style>
{% endblock %}

<!-- GOOGLE LOGIN JS -->
{% block js_body %}
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        alert("You are: " +  profile.getName())
        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);

        
      };

      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
          alert("You are successfully signed out")
        });
      }
    </script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}