{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="example" content="Bokeh">
    <meta name="author" content="Rishikesh Agrawani">
    <link rel="icon" href="{% static 'images/favicon_r.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bokeh - examples</title>

    <!--Bootstrap starts-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Bootstrap ends-->

    <style type="text/css">
       .iframe-graph {
          margin: 0px; 
          border: 0px;
          height: 400px;
          width: 100%;
       }
       #name {
          color: green;
          font-family: tahoma;
          font-weight: bold;
       }
       #links {
          color: gray;
          font-family: tahoma;
          font-weight: bold;
       }
       .p-graph-name {
          font-family: sans-serif;
          font-weight: bold;
          color: gray;
          box-shadow: 2px 2px #fffff1;
       }
       #p-user-guide {
        font-family: tahoma;
       }
    </style>
  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-xs-12 text-center">
          <h1 id="name">Rishikesh Agrawani - Bokeh</h1>
          <p id="p-user-guide">Official User guide &raquo; <a href="https://bokeh.pydata.org/en/latest/docs/user_guide.html" alt="USer guide for bokeh">https://bokeh.pydata.org/en/latest/docs/user_guide.html</a></p>
          <p id="p-user-guide">A simple CALC &raquo; <a href="/calc" alt="CALC">click here</a> (it is in development).</p>
          <hr>
        </div>
        <div class="col-lg-6 col-xs-12 text-center">
          <h1 id="links">Best links</h1>
          <p id="p-user-guide">Bokeh vs Dash &raquo; <a href="https://blog.sicara.com/bokeh-dash-best-dashboard-framework-python-shiny-alternative-c5b576375f7f" alt="Bokeh vs Dash">click here </a>
          </p>
          <p id="p-user-guide">Kickstarter Dashboard in Bokeh &raquo; <a href="https://github.com/flavianh/dashboards-frameworks-comparison/tree/master/bokeh" alt="Kickstarter Dashboard in Bokeh ">click here </a>
          </p>

          <p id="p-user-guide"><strong>To see</strong> Jupyter Notebook &raquo; <a href="/jupyter-notebooks/python-lists/" alt="Jupyter Notebook">click here </a>
          </p>
          <p id="p-user-guide"><strong>To see</strong> Jupyter Notebook (with Holoviews plot canvases) &raquo; <a href="/jupyter-notebooks/holoviews-plots/" alt="Jupyter Notebook">click here </a>
          </p>
          <hr>
        </div>
      </div>

      <!--HOLOVIEWS-->
      <div class="row">
          <!-- DB SAVED PLOTS RENDERING -->
          {% for plot in holoviews %}
            <div class="col-xs-12 col-lg-6 col-sm-12 col-md-6 text-center">
              <h3 class="p-graph-name">Holoviews: {{plot.plot_name}}</h3>
              Visit &raquo; <a href="{{plot.doc_url}}">{{plot.doc_url|slice:"42:72"}} ...</a>,
              , Created &raquo; {{plot.created}}
              <iframe src="holoviews/plots/{{plot.sub_url}}" class="iframe-graph">
                <p>Your browser does not support iframes.</p>
              </iframe>
              <hr>
           </div>
         {% endfor %}
      </div>

      <!--HOLOVIEWS-->
       <div class="row">
          <!-- DB SAVED PLOTS RENDERING -->
          {% for plot in plots %}
            <div class="col-xs-12 col-lg-6 col-sm-12 col-md-6 text-center">
              <h3 class="p-graph-name">Bokeh - {{plot.plot_name}}</h3>
              <iframe src="bokeh/plots/{{plot.sub_url}}" class="iframe-graph">
                <p>Your browser does not support iframes.</p>
              </iframe>
              <hr>
           </div>
         {% endfor %}
          <!-- DB SAVED PLOTS RENDERING CLOSED-->
         <div class="col-xs-12 col-lg-6 col-sm-12 col-md-6 text-center">
            <h3 class="p-graph-name">Bokeh - Lines<!-- <a href="/trial">full view</a></h3> -->
            <iframe src="/trial" class="iframe-graph">
              <p>Your browser does not support iframes.</p>
            </iframe>
            <hr>
         </div>
         <div class="col-xs-12 col-lg-6 col-sm-12 col-md-6 text-center">
            <h3 class="p-graph-name">Bokeh - Lines log</h3>
            <iframe src="bokeh/plots/lines" class="iframe-graph">
              <p>Your browser does not support iframes.</p>
            </iframe>
            <hr>
         </div>

         <div class="col-xs-12 col-lg-6 col-sm-12 col-md-6 text-center">
            <h3 class="p-graph-name">Bokeh - Color scatter</h3>
            <iframe src="bokeh/plots/color-scatter" class="iframe-graph">
              <p>Your browser does not support iframes.</p>
            </iframe>
            <hr>
         </div>

         <div class="col-xs-12 col-lg-6 col-sm-12 col-md-6 text-center">
            <h3 class="p-graph-name">Bokeh - Linked panning</h3>
            <iframe src="bokeh/plots/linked-panning" class="iframe-graph">
              <p>Your browser does not support iframes.</p>
            </iframe>
            <hr>
         </div>

         <div class="col-xs-12 col-lg-6 col-sm-12 col-md-6 text-center">
            <h3 class="p-graph-name">Bokeh - Twin axis</h3>
            <iframe src="bokeh/plots/twin-axis" class="iframe-graph">
              <p>Your browser does not support iframes.</p>
            </iframe>
            <hr>
         </div>

         <div class="col-xs-12 col-lg-6 col-sm-12 col-md-6 text-center">
            <h3 class="p-graph-name">Bokeh - Lorenz</h3>
            <iframe src="bokeh/plots/lorenz" class="iframe-graph">
              <p>Your browser does not support iframes.</p>
            </iframe>
            <hr>
         </div>

         <div class="col-xs-12 col-lg-6 col-sm-12 col-md-6 text-center">
            <h3 class="p-graph-name">Bokeh - Burtin</h3>
            <iframe src="bokeh/plots/burtin" class="iframe-graph">
              <p>Your browser does not support iframes.</p>
            </iframe>
            <hr>
         </div>

         <!-- 
         <div class="col-xs-12 col-lg-6 col-sm-12 col-md-6 text-center" class="iframe-graph">
           
         </div> -->
       </div>
    </div>
   
    <footer>
        
    </footer>
  </body>
</html>
