{% extends "base.html" %}


{% block title %}
<title>
	OAUTH2 CALLBACK PAGE
</title>
{% endblock title %}


{% block container %}
	<center>
		<br>
		<h1 style="color:green; font-weight: bold; font-family: tahoma">
			Hello dear, You are done with google signin
		</h1>
		<br>
		<a href="/" class="btn btn-success" role="button" style="width:300px">HOME</a>
		
	</center>
{% endblock container %}
