{% extends "base.html" %}

{% block title %}

{% endblock title %}


{% block container %}
<center>
		<br>
		<h1 style="color:green; font-weight: bold; font-family: tahoma">
			Let's learn using REST APIs
		</h1>
</center>
{% endblock container %}
