{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	<title>
		Temp page
	</title>
{% endblock title %}

{% block css %}
<style type="text/css">
	body {
		backgound-image: url('{% static "images/500.jpg" %}');
	}  
</style>
{% endblock css %}

{% block container %}
<center>
		<br>
		<h1 style="color:green; font-weight: bold; font-family: tahoma">
			Temp page
		</h1>
</center>
{% endblock container %}

